@import '@/assets/scss/_variabled.scss';

.wrap-navigation {
  padding: 16px 10vw;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  a {
    color: #d195e5;
    font-size: 24px;
    padding-right: 24px;
    font-weight: 700;
    &:last-child {
      padding: 0px;
    }
  }
}
.brand-color {
  color: $main-color !important;
}
.active-color {
  color: purple !important;
}
