@import '@/assets/scss/_variabled.scss';

@keyframes typing{
    from{ width: 0; }
  }
   
  @keyframes cursor{
    50%{ border-color: transparent; }
  }
   

.home-container {
    display: flex;
    height: calc(100vh - 77px);
    width: 100%;
    justify-content: center;
    align-items: center;
    // background-image: url("../../src/assets/imgs/homeBackground.jpg");
    background-image: linear-gradient(
        rgba(243, 238, 243, 0.2),
        rgba(248, 246, 248, 0.2)
      ), url("../../src/assets/imgs/homeBackground.jpg");
    background-size: cover;
    p {
      animation: typing, cursor 1s steps(1) infinite;
      border-right: .05em solid $main-color;
      font-size: 40px;
      font-weight: 700;
      color: $main-color;
      white-space: nowrap;
      text-align: center;
  }
}



