@import '@/assets/scss/_variabled.scss';

@media (max-width: 799px) {
  .wrap-dialog {
    box-shadow: unset !important;
    .wrap-card {
      position: relative;
      height: 200px;
      width: 80vw;
      .wrap-content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .wrap-btn {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        button {
          border: unset;
          background: white;
          color: $main-color;
          font-size: 16px;
        }
      }
    }
  }
}
@media (min-width: 800px) {
  .wrap-dialog {
    box-shadow: unset !important;
    .wrap-card {
      position: relative;
      height: 200px;
      width: 400px;
      .wrap-content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .wrap-btn {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        button {
          border: unset;
          background: white;
          color: $main-color;
          font-size: 16px;
        }
      }
    }
  }
}
