@import '@/assets/scss/_variabled.scss';

.wrap-dialog {
  box-shadow: unset !important;
  div {
    &:nth-child(1) {
      // background-color: unset !important;
    }
  }
  .wrap-card {
    position: relative;
    height: 200px;
    width: 400px;
    .wrap-content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .wrap-btn {
      position: absolute;
      bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      button {
        border: unset;
        background: white;
        color: $main-color;
        font-size: 16px;
      }
    }
  }
}
